<h1 [ngClass]="isGreen? 'title-green':'title-red'">{{title}}</h1>

<h2 *ngIf="publishers.length<1">No Data</h2>
<div style="margin: 20px; float: right">
    <button class="button" (click)="addPublisher()"> Add Publisher</button>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="publishers.length>0">
        <tr *ngFor="let publisher of publishers">
            <td>{{publisher.name}}</td>
            <td>{{publisher.address}}</td>
            <td>{{publisher.phone}}</td>
            <td>{{publisher.email}}</td>
            <td>
                <button (click)="deletePublisher(publisher.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>